<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <title>账户</title>

    <script src="/static/css/main.css"></script>
    <script src="/static/ec/echarts.min.js"></script>
</head>
<body>

{include file="public/navigation" /}

<div>
    <h2>账号</h2>
    <p>设置观察用户</p>
</div>

<div class="container-fluid">
    <div>
        <p>
            <span class="title">账号: </span><b class="value">{$account.account}</b>
            <span class="title">账号名称: </span><b class="value">{$account.account_name}</b>
        </p>
    </div>


    {empty name="member"}
    <div>
        <form action="/admin/account/updateMember" method="post">
            <input type="hidden" name="account" value="{$account.account}"/>
            <input type="hidden" name="action" value="create"/>
            <p><span>用户名</span> <input type="text" name="username" value=""/></p>
            <p><span>密码</span> <input type="text" name="password" value=""/></p>
            <p><button type="submit">提交</button></p>
        </form>
    </div>
    {else/}
    <div>
        <form action="/admin/account/updateMember" method="post">
            <input type="hidden" name="account" value="{$account.account}"/>
            <input type="hidden" name="action" value="update"/>
            <input type="hidden" name="member_id" value="{$member.pk_id}"/>
            <p><span>用户名</span> <input type="text" name="username" value="{$member.username}"/></p>
            <p><span>密码</span> <input type="text" name="password" value=""/></p>
            <p><button type="submit">提交</button></p>
        </form>
    </div>
    {/empty}


</div>

</body>
</html>